{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Members' %}{% endblock %}

{% block header_title %}{% trans 'Manage members' %}{% endblock header_title %}

{% block page_title %}{% trans 'Add member' %}{% endblock page_title %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
    <a href="{% url 'members' %}" class="mdl-layout__tab">{% trans 'Change' %}</a>
    <a href="{% url 'add_member' %}" class="mdl-layout__tab is-active">{% trans 'Add' %}</a>
</div>
{% endblock tabview %}

{% block content %}
  <div class="card404-wide-people-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans 'Add member' %}</h2>
    </div>
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      <div class="mdl-card__supporting-text">
        {% csrf_token %}
        {{ form.media }}
        
        {% for field in form.visible_fields %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ field }}
          <label class="mdl-textfield__label">{{ field.label }}</label>
        </div>
        <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
        <br>
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% if manager_form %}
          {% for field in manager_form.visible_fields %}
          <div id="manager_div">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ field }}
              <label class="mdl-textfield__label">{{ field.label }}</label>
            </div>
            <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
            <br>
          </div>
          {% endfor %}
        {% endif %}

        {% if customer_form %}
          {% for field in customer_form.visible_fields %}
          <div id="customer_div">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ field }}
              <label class="mdl-textfield__label">{{ field.label }}</label>
            </div>
            <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
            <br>
          </div>
          {% endfor %}
        {% endif %}

        {% if driver_form %}
          {% for field in driver_form.visible_fields %}
          <div id="driver_div">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ field }}
              <label class="mdl-textfield__label">{{ field.label }}</label>
            </div>
            <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
            <br>
          </div>
          {% endfor %}
        {% endif %}

        {% if form.errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if driver_form.errors %}
          <ul>
            {% for error in driver_form.non_field_errors %}
              <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if customer_form.errors %}
          <ul>
            {% for error in customer_form.non_field_errors %}
              <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if manager_form.errors %}
          <ul>
            {% for error in manager_form.non_field_errors %}
              <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <br>

        <div class="mdl-card__actions mdl-card--border">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

{% block optional_js %}
<script type="text/javascript" src="{% static 'js/members.js' %}"></script>
{% endblock %}
