{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Members' %}{% endblock %}

{% block header_title %}{% trans 'Manage members' %}{% endblock header_title %}

{% block page_title %}{% trans 'Members' %}{% endblock page_title %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
    <a href="{% url 'members' %}" class="mdl-layout__tab is-active">{% trans 'Change' %}</a>
    <a href="{% url 'add_member' %}" class="mdl-layout__tab">{% trans 'Add' %}</a>
</div>
{% endblock tabview %}

{% block content %}
  <div class="card404-wide-people-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans 'Manage members' %}</h2>
    </div>
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      <div class="mdl-card__supporting-text">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form.visible_fields %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ field }}
          <label class="mdl-textfield__label">{{ field.label }}</label>
        </div>
        <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
        <br>
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% if child_form %}
          {% for field in child_form.visible_fields %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ field }}
            <label class="mdl-textfield__label">{{ field.label }}</label>
          </div>
          <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
          <br>
          {% endfor %}
          {% if form.instance.manager_set %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" value="{{ form.instance.manager_set.start_date }}" readonly>
            <label class="mdl-textfield__label">{{ _("Start date") }}</label>
          </div>
          {% endif %}
          {% if form.instance.driver_set %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" value="{{ form.instance.driver_set.start_date }}" readonly>
            <label class="mdl-textfield__label">{{ _("Start date") }}</label>
          </div>
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" value="{{ form.instance.driver_set.car_count }}" readonly>
            <label class="mdl-textfield__label">{{ _("Car count") }}</label>
          </div>
          {% endif %}
        {% endif %}

        {% if form.errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <br><br>

        <div class="mdl-card__actions  mdl-card--border">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
          <a href="{% url 'reset_password' form.instance.username %}" id="reset_pass" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">{% trans 'Reset password' %}</a>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

{% block optional_js %}
<script type="text/javascript" src="{% static 'js/jquery_formset.js' %}"></script>
{% endblock %}
