{% extends "base_popup.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Pastry' %}{% endblock %}

{% block header_title %}{% trans 'Pastry' %}{% endblock header_title %}

{% block table %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=customers&amp;order_by=username" class="{% if params.order_by == 'username' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Username' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=customers&amp;order_by=first_name" class="{% if params.order_by == 'first_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'First name' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=customers&amp;order_by=last_name" class="{% if params.order_by == 'last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Last name' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=customers&amp;order_by=birthday" class="{% if params.order_by == 'birthday' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Birthday' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=customers&amp;order_by=phone_number" class="{% if params.order_by == 'phone_number' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Phone number' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=customers&amp;order_by=address" class="{% if params.order_by == 'address' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Address' %}</a></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in queryset %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a class="fk_link" href="{{ obj.username }}">{{ obj.username }}</a></td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.first_name }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.last_name }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.birthday }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.phone_number }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.address }}</td>
    </tr>
    {% empty %}
    <tr>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
