{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Cars' %}{% endblock %}

{% block body %}
<div class="bakery-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid bakery-content">

      <div class="card404-wide-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Login</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <form id="login_form" method="post" action="">
              {% csrf_token %}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="username" name="username" required="True"{%if username%} value="{{username}}"{%endif%}>
                <label class="mdl-textfield__label" for="username">{% trans "Username" %}</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password" name="password" required="True"{%if password%} value="{{password}}"{%endif%}>
                <label class="mdl-textfield__label" for="password">{% trans "Password" %}</label>
              </div>

              {% if error %}<br><div class="error">{{ error }}</div><br>{% endif %}

              <div class="mdl-card__actions">
                <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
              </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input type="text" id="username" name="username" class="mdl-textfield__input"/>
  <span class="mdl-textfield__label">{% trans 'Username' %}</span>
</label>