{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Členovia{% endblock %}

{% block header_title %}Členovia{% if queryset.has_previous or queryset.has_next %} - {{ queryset.number }} z {{ queryset.paginator.num_pages }}{% endif %}{% endblock header_title %}

{% block page_title %}Členovia{% endblock page_title %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
    <a href="{% url 'members' %}" class="mdl-layout__tab is-active">{% trans 'Change' %}</a>
    <a href="{% url 'add_member' %}" class="mdl-layout__tab">{% trans 'Add' %}</a>
</div>
{% endblock tabview %}

{% block search_box %}
<form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="id_search">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      {{ form.visible_fields|first }}
      <label class="mdl-textfield__label" for="id_search">{% trans 'Enter your query' %}</label>
    </div>
  </div>
</form>
{% endblock %}

{% block content %}
  {% if search_value %}
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Searched value' %}</th>
          <th>{% trans 'Number of found entries' %}</th>
          <th>{% trans 'Delete' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ search_value }}</td>
          <td>{{ data_length }}</td>
          <td><a href=""><i class="material-icons">clear</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=username" class="{% if params.order_by == 'username' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Username' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=first_name" class="{% if params.order_by == 'first_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'First name' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=last_name" class="{% if params.order_by == 'last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Last name' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=birthday" class="{% if params.order_by == 'birthday' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Birthday' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=phone_number" class="{% if params.order_by == 'phone_number' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Phone number' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=address" class="{% if params.order_by == 'address' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Address' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Role' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in queryset %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><a href="{{ obj.username }}">{{ obj.username }}</a></td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.first_name }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.last_name }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.birthday }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.phone_number }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.address }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.role }}</td>
        </tr>
        {% empty %}
        <tr>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if queryset %}
    <form action="{% url 'delete_members' %}" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      {% csrf_token %}
      <input type="hidden" id="hidden" name="obj_ids">

      <div id="actions">
        <input id="delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="{% trans 'Delete' %}"/>
      </div>
    </form>
    {% endif %}
  </div>

  {% if queryset.has_previous or queryset.has_next %}
  <div id="paginator">
    {% if queryset.has_previous %}
      <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.previous_page_number }}" id="paginator_previous" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_back</i></a>
    {% endif %}

    {% if queryset.has_next %}
      <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.next_page_number }}" id="paginator_next" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_forward</i></a>
    {% endif %}
  </div>
  {% endif %}
{% endblock content %}

{% block optional_js %}<script type="text/javascript"  src="{% static 'js/hidden_obj_ids.js' %}"></script>{% endblock %}
