{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header_title %}{% trans 'Reset password' %}{% endblock header_title %}
{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
<div class="card404-wide-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{% trans 'Reset password' %}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form id="login_form" method="post" action="">
        {% csrf_token %}

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="new_password1" name="new_password1" required="True"{%if new_password1%} value="{{new_password1}}"{%endif%}>
          <label class="mdl-textfield__label" for="new_password1">{% trans "New password" %}</label>
        </div>

        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="new_password2" name="new_password2" required="True"{%if new_password2%} value="{{new_password2}}"{%endif%}>
          <label class="mdl-textfield__label" for="new_password2">{% trans "Confirm password" %}</label>
        </div>

        {% if error %}<br><div class="error">{{ error }}</div><br>{% endif %}

        <div class="mdl-card__actions">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
        </div>
    </form>
  </div>
</div>

{% endblock %}

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input type="text" id="username" name="username" class="mdl-textfield__input"/>
  <span class="mdl-textfield__label">{% trans 'Username' %}</span>
</label>