body{
	font-size: 20px;
	color: #333;
	line-height: 120%;
}

p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	line-height: 150%;
}

.ui-icon-domov{
	background-image: url("../icons/domov.png") !important;
	background-size: 16px 16px;
	background-color: #fff !important;
}

.ui-icon-skic{
	background-image: url("../icons/skic.png") !important;
	background-size: 17px 17px;
	background-color: #fff !important;
}

.ui-icon-slovka{
	background-image: url("../icons/slovka.png") !important;
	background-size: 18px 18px; 
	background-color: #fff !important;
}

.ui-icon-social{
	background-image: url("../icons/social.png") !important;
	background-size: 18px 18px;
	background-color: #fff !important;
}

.ui-icon-profil{
	background-image: url("../icons/profil.png") !important;
	background-size: 18px 18px;
	background-color: #fff !important;
}

.ui-btn-active {
	background: #FADB4E !important;
	text-shadow: 0 0 0 !important;
	color: #272727 !important;
	background-image: -moz-linear-gradient(top, #FADB4E, #FFA500) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FADB4E), color-stop(1.0, #FFA500)) !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(250, 219, 78)), to(rgb(255, 165, 0))) !important;
}

[data-role=footer]{
	bottom: 0;
	position: absolute !important;
	top: auto !important;
	width: 100%;
}

[data-role=navbar] {
	line-height: 50%;
}

[data-role=header], [data-role=footer], [data-role=header] [data-role=button] {
	line-height: 100%;
}

.posun {
height: 3em;
}

#chyby {
	margin: 12px 0 12px 0;
	color: #FF4040;
	font-style: italic;
	font-size: 80%;
	text-align: center;
	text-shadow: rgb(255,0,0) 0px 0px 1px;
}

#auth {
	margin: 0 auto;
	max-width: 300px;
}

h1,h2,h3,h5,h6 {
	font-family: 'Holtwood One SC', serif;
}

#platno {
	background-color: #FFF;
	float: left;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	cursor: crosshair; /*zmena kurzoru*/
}

canvas.dragging {cursor: crosshair;}

#red, #blue, #yellow, #white, #black,
#brown, #green, #orange, #purple {
	width: 50px;
	height: 50px;
	display: block;
	margin: 5px;
	margin-left: 10px;
}

#red {
	background-color: #CD0000;
}
#blue {
	background-color: #6666FF;
}
#yellow {
	background-color: #FFCF33;
}
#white {
	background-color: #FFFFFF;
}
#black {
	background-color: #000000;
}
#brown {
	background-color: #986928;
}
#green {
	background-color: #659B41;
}
#orange {
	background-color: #FF6600;
}
#purple {
	background-color: #CB3594;
}

#palette {
	float: left;
}

#w_slider {
	padding-top: 20px;
	margin: 0px 5px 0 -5px;
	width: 720px;
}

input.ui-slider-input {
    display:none !important;
}

#skic {
	width: 570px;
	margin-left: auto !important;
	margin-right: auto !important;
}

#right_column {
	padding-left: 20px;
}

#left_column {
	margin-top: 30px;
}