body 
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong 
{ 
	font-weight: 500; 
}

a, a:hover, a:focus 
{
	color: #4aaf51;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 
{
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 
{
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img 
{
 	max-width: 100%; 
}

.top-content .text 
{
	color: #fff;
}

.top-content .text h1 
{ 
	color: #fff; 
}

.top-content .description 
{
	margin: 20px 0 10px 0;
}

.top-content .description p 
{ 
	opacity: 0.8; 
}

.top-content .description a 
{
	color: #fff;
}

.top-content .description a:hover, .top-content .description a:focus 
{ 
	border-bottom: 1px dotted #fff; 
}

.form-box 
{
	margin-top: 35px;
}

.form-top 
{
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left 
{
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 
{ 
	margin-top: 0; 
}

.form-bottom 
{
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea 
{
	height: 100px;
}

.form-bottom form button.btn 
{
	width: 100%;
}

.form-bottom form .input-error 
{
	border-color: #4aaf51;
}


@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {	
	.inner-bg { padding: 60px 0 110px 0; }
}

@media (max-width: 415px) {
	h1, h2 { font-size: 32px; }
}

