/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.bakery-account {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.bakery-layout .bakery-header .mdl-textfield {
  padding-top: 27px;
}
.bakery-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background: #263238;
}

.bakery-layout .mdl-layout__header a {
  color: #757575;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
  color: #263238;
}

.bakery-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.bakery-drawer .mdl-menu__container {
  z-index: -1;
}
.bakery-drawer .bakery-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.bakery-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bakery-drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.bakery-account-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bakery-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.bakery-layout .bakery-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.bakery-layout .bakery-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.bakery-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.bakery-navigation .mdl-badge[data-badge]:after {
  right: -11px;
}

.bakery-content {
  max-width: 1080px;
}

.bakery-cards {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.bakery-cards .bakery-separator {
  height: 32px;
}
.bakery-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.bakery-cards ul {
  padding: 0;
}
.bakery-cards h3 {
  font-size: 1em;
}
.bakery-updates .mdl-card__title {
  min-height: 200px;
}
.bakery-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.bakery-options h3 {
  margin: 0;
}
.bakery-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.bakery-options ul {
  margin: 0;
  list-style-type: none;
}
.bakery-options li {
  margin: 4px 0;
}
.bakery-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.bakery-options .mdl-card__actions {
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card404-wide.mdl-card {
  margin:0 auto;
}

.card404-wide-form.mdl-card {
  margin:16px auto;
}

.card404-wide-form > .mdl-card__title {
  color: #fff;
  height: 256px;
  text-shadow: 3px 3px 4px #000;
  background: url('../images/404.jpg') center / cover;
}

.card404-wide > .mdl-card__title {
  color: #fff;
  height: 256px;
  text-shadow: 3px 3px 4px #000;
  background: url('../images/404.jpg') center / cover;
}
.card404-wide > .mdl-card__menu {
  color: #fff;
}

table.mdl-data-table.mdl-js-data-table.is-upgraded {
    margin: 0 auto;
}

.card404-wide-car-form.mdl-card {
  margin:16px auto;
}

.card404-wide-car-form > .mdl-card__title {
  color: #fff;
  height: 256px;
  background: url('../images/car_card.jpg') center / cover;
}

.card404-wide-people-form.mdl-card {
  margin:16px auto;
}

.card404-wide-people-form > .mdl-card__title {
  color: #fff;
  height: 256px;
  text-shadow: 3px 3px 4px #000;
  background: url('../images/people_card.jpg') center / cover;
}

.card404-wide-ingredient-form.mdl-card {
  margin:16px auto;
}

.card404-wide-ingredient-form > .mdl-card__title {
  color: #fff;
  height: 256px;
  text-shadow: 3px 3px 4px #000;
  background: url('../images/ingredients_card.jpg') center / cover;
}

.card404-wide-distribution-form.mdl-card {
  margin:16px auto;
}

.card404-wide-distribution-form > .mdl-card__title {
  color: #fff;
  height: 256px;
  background: url('../images/distribution_card.jpg') center / cover;
}

.card404-wide-order-form.mdl-card {
  margin:16px auto;
}

.card404-wide-order-form > .mdl-card__title {
  color: #fff;
  height: 256px;
  text-shadow: 3px 3px 4px #000;
  background: url('../images/order_card.jpg') center / cover;
}

.card404-wide-bread-form.mdl-card {
  margin:16px auto;
}

.card404-wide-bread-form > .mdl-card__title {
  color: #fff;
  text-shadow: 3px 3px 4px #000;
  height: 256px;
  background: url('../images/bread_card.jpg') center / cover;
}

.card404-wide-address-form.mdl-card {
  margin:16px auto;
}

.card404-wide-address-form > .mdl-card__title {
  color: #fff;
  height: 256px;
  background: url('../images/address_card.jpg') center / cover;
}

#paginator {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

#actions {
  position: relative;
  display: block;
  margin-top: 16px;
}

.action {
  margin-left: 15px;
}

.order_link {
  text-decoration: none;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 700;
}

.order_link_active {
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 700;
}

.mdl-layout--fixed-tabs .mdl-layout__tab.is-active::after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #00acc1;
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    -webkit-transition: all 1s cubic-bezier(.4,0,1,1);
    transition: all 1s cubic-bezier(.4,0,1,1);
}

.mdl-layout__header-row {
  height: auto;
}

.mdl-layout__header-row.nav_tab {
  padding: 0 16px 0 16px;
}

.mdl-textfield--floating-label .mdl-textfield__label {
  top: 4px;
}

.fk {
  display: none;
}

.mdl-textfield__input.price {
  display: none;
}

.fk_content {
  width: 80%;
  float: left;
}

.fk_lookup {
  float: right;
  right: 18px;
  position: relative;
  width: 20%;
}

.fkk {
  float: left;
}

.fbb {
  float: right;
}

.mdl-card__supporting-text {
  margin: 0 auto;
}

.error_span {
  float: left;
  height: 38px;
  position: relative;
  top: 10px;
}

.fk_th {
  min-width: 300px;
}

.material-icons.field {
  position: relative;
  top: 5px;
}

.error {
  color: #de3226;
  font-size: 150%;
}

.order-error {
  color: #de3226;
  font-size: 150%;
  text-align: center;
}

.mdl-layout__content {
  overflow: scroll;
}

.table-wrapper {
  min-width: 100%;
  overflow-x: scroll;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.mdl-layout__drawer-button {
  top: 10px;
  position: relative;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#reset_pass, #delete_item, #make_inactive {
  margin-left: 16px;
  float: right;
}

#messages {
  display: none;
  z-index: 9999;
  background: #fff;
  box-shadow: 0px 0px 10px #ff4081;
  border: 2px #444;
  border-radius: 2px;
  padding: 10px;
  color: #757575;
  /* margin: 36px; */
  font-size: 150%;
  position: fixed;
  top: 20px;
  left: 50%;
  width: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.summary {
  width: 100%;
}

.action-form {
  display: inline;
}
