{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Ingrediencie{% endblock %}

{% block header_title %}Manažovanie ingrediencií{% endblock header_title %}

{% block page_title %}Ingrediencie{% endblock page_title %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
    <a href="{% url 'ingredients' %}" class="mdl-layout__tab">{% trans 'Change' %}</a>
    <a href="{% url 'add_ingredient' %}" class="mdl-layout__tab is-active">{% trans 'Add' %}</a>
</div>
{% endblock tabview %}

{% block content %}
  <div class="card404-wide-ingredient-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Pridanie novej ingrediencie</h2>
    </div>
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      <div class="mdl-card__supporting-text">
        {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% for field in form.visible_fields %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ field }}
          <label class="mdl-textfield__label">{{ field.label }}</label>
        </div>
        <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
        <br>
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="mdl-card__actions  mdl-card--border">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
