{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Orders' %}{% endblock %}

{% block header_title %}Manažovanie objednávok{% endblock header_title %}

{% block page_title %}Vytváranie {% trans 'Orders' %}{% endblock page_title %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
    <a href="{% url 'orders' %}" class="mdl-layout__tab">{% trans 'Change' %}</a>
    <a href="{% url 'add_order' %}" class="mdl-layout__tab is-active">{% trans 'Add' %}</a>
</div>
{% endblock tabview %}

{% block content %}
  <div class="card404-wide-order-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Vytvorenie novej {% trans 'Orders' %}</h2>
    </div>
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      <div class="mdl-card__supporting-text">
        {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% for field in form.visible_fields %}
          {% if field.id_for_label == form.paid.id_for_label %}
            {% if not user.is_customer %}
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="id_paid">
              <input type="checkbox" id="id_paid" name="paid" class="mdl-checkbox__input"{%if field.value %} checked{%endif%}/>
              <span class="mdl-checkbox__label">{{ field.label }}</span>
            </label>
            <br><br>
            {% endif %}
          {% elif field.id_for_label == form.completed.id_for_label %}
          {% elif field.id_for_label == form.completed_date.id_for_label %}
          {% elif field.id_for_label == form.arrival_date.id_for_label %}
            {% if not user.is_customer %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ field }}
              <label class="mdl-textfield__label">{{field.label}}</label>
            </div>
            <br>
            {% endif %}
          {% elif field.id_for_label == form.completed_date.id_for_label %}
          {% elif field.id_for_label == form.customer.id_for_label%}
            {% if not user.is_customer %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ field }}
              <label class="mdl-textfield__label">{{ field.label }}</label>
              <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.customer|default_if_none:_("None")}}" readonly>
              <a href="{% url 'members'%}?popup=customers" name="Customer" class="fk_lookup"><i class="material-icons">search</i></a>
            </div>
            <br>
            {% endif %}
          {% elif field.id_for_label == form.price.id_for_label %}
          {% else %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ field }}
              <label class="mdl-textfield__label">{{ field.label }}</label>
              {% if field.id_for_label == form.delivery_address.id_for_label %}
              <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.delivery_address|default_if_none:"Žiadna"}}" readonly>
              <a href="{% url 'delivery_addresses'%}?popup=1" name="Delivery Address" class="fk_lookup"><i class="material-icons">search</i></a>
              {% endif %}
            </div>
            <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
            <br>
          {% endif %}
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded" data-upgraded=",MaterialTextfield">
          <input class="mdl-textfield__input" id="id_sum_price" value="NaN" readonly>
          <label class="mdl-textfield__label">{% trans 'Price' %}</label>
        </div>

        <br>

        {{ formset.management_form }}
        <div class="table-wrapper mdl-grid mdl-cell--2-col-phone">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric fk_th">{% trans 'Pastry' %}</th>
              <th class="mdl-data-table__cell--non-numeric">Počet kusov</th>
              <th>{% trans 'Delete' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset.forms %}
              <tr class="dynamic-form">
              {% for field in form.visible_fields %}
                <td>
                {{ field }}
                {% if field.id_for_label == form.pastry.id_for_label %}
                <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.pastry|default_if_none:'Žiadny'}}" readonly>
                <input class="mdl-textfield__input price" type="text" value="{{form.instance.pastry.price}}" readonly>
                <a href="{% url 'pastries'%}?popup=1" name="Pastry" class="fk_lookup"><i class="material-icons">search</i></a>
                {% endif %}
                {% if field.errors %}<span class="error_span">{{ field.errors.as_text }}</span>{% endif %}
                </td>
              {% endfor %}
              </tr>

              {% for field in form.hidden_fields %}
                {{ field }}
              {% endfor %}
            {% endfor %} 
          </tbody>
        </table>
        </div>

        <br><br>

        <div class="mdl-card__actions  mdl-card--border">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

{% block optional_js %}
<script type="text/javascript" src="{% static 'js/jquery_formset.js' %}"></script>
<script type="text/javascript" src="{% static 'js/order_form.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('form tbody tr').formset({
            prefix: '{{ formset.prefix }}',
            addText: 'Pridať ďalšie',
            deleteText: 'Odstrániť',
        });
    })
</script>
{% endblock %}
