{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header_title %}{% trans 'Change arrival date' %}{% endblock header_title %}
{% block title %}{% trans 'Change arrival date' %}{% endblock %}

{% block content %}
<div class="card404-wide-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{% trans 'Change arrival date' %}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form method="POST" action="">
        {% csrf_token %}

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.arrival_date }}
          <label class="mdl-textfield__label" for="{{ form.arrival_date.id_for_label }}">{{ form.arrival_date.label }}</label>
        </div>

        {% if error %}<br><div class="error">{{ error }}</div><br>{% endif %}

        <div class="mdl-card__actions">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
        </div>
    </form>
  </div>
</div>

{% endblock %}

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input type="text" id="username" name="username" class="mdl-textfield__input"/>
  <span class="mdl-textfield__label">{% trans 'Username' %}</span>
</label>