{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Orders' %}{% endblock %}

{% block header_title %}{% trans 'Manage order' %}{% endblock header_title %}

{% block page_title %}{% trans 'Order' %}{% endblock page_title %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
  <a href="{% url 'orders' %}" class="mdl-layout__tab is-active">{% trans 'Change' %}</a>
  {% if not user.is_driver %}
  <a href="{% url 'add_order' %}" class="mdl-layout__tab">{% trans 'Add' %}</a>
  {% endif %}
</div>
{% endblock tabview %}

{% block content %}
  <div class="card404-wide-order-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans 'Change orders' %}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {% csrf_token %}
      {{ form.media }}
      {% if form.errors %}
        <ul>
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% for field in form.visible_fields %}
        {% if field.id_for_label == form.paid.id_for_label %}
          <div>
            <i class="material-icons field">{% if form.instance.paid %}check_box{% else %}check_box_outline_blank{% endif %}</i>
            <span class="mdl-checkbox__label">{{field.label}}</span>
          </div>
        {% elif field.id_for_label == form.completed.id_for_label %}
          <div>
            <i class="material-icons field">{% if form.instance.completed %}check_box{% else %}check_box_outline_blank{% endif %}</i>
            <span class="mdl-checkbox__label">{{field.label}}</span>
          </div>
        {% elif field.id_for_label == form.arrival_date.id_for_label %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="arrival_date" value="{{form.instance.arrival_date|default_if_none:_("None")}}" readonly>
            <label class="mdl-textfield__label">{{field.label}}</label>
          </div>
        {% elif field.id_for_label == form.completed_date.id_for_label %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="completed_date" value="{{form.instance.completed_date|default_if_none:_("None")}}" readonly>
            <label class="mdl-textfield__label">{{field.label}}</label>
          </div>
        {% elif field.id_for_label == form.delivery_method.id_for_label %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="delivery_method" value="{{form.instance.get_delivery_method|default_if_none:_("None")}}" readonly>
            <label class="mdl-textfield__label">{{field.label}}</label>
          </div>
        {% elif field.id_for_label == form.payment_method.id_for_label %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="payment_method" value="{{form.instance.get_payment_method|default_if_none:_("None")}}" readonly>
            <label class="mdl-textfield__label">{{field.label}}</label>
          </div>
        {% else %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" readonly>
            {{ field }}
            <label class="mdl-textfield__label">{{ field.label }}</label>
            {% if field.id_for_label == form.delivery_address.id_for_label %}
            <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.delivery_address|default_if_none:_("None")}}" readonly>
            {% elif field.id_for_label == form.customer.id_for_label %}
            <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.customer|default_if_none:_("None")}}" readonly>
            {% endif %}
          </div>
          {% if field.errors %}<span>{{ field.errors.as_text }}</span>{% endif %}
        {% endif %}
        <br>
      {% endfor %}

      {% for field in form.hidden_fields %}
          {{ field }}
      {% endfor %}

      <br>

      {{ formset.management_form }}
      <div class="table-wrapper mdl-grid mdl-cell--2-col-phone">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric fk_th">{% trans 'Pastry' %}</th>
              <th class="mdl-data-table__cell--non-numeric">{% trans 'Amount' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset.forms %}
              <tr>
              {% for field in form.visible_fields %}
                <td>
                {% if field.id_for_label == form.pastry.id_for_label %}
                {{ field }}
                <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.pastry|default_if_none:'Žiadny'}}" readonly>
                <input class="mdl-textfield__input price" type="text" value="{{form.instance.pastry.price}}" readonly>
                {% elif field.id_for_label == form.amount.id_for_label %}
                <input class="mdl-textfield__input" type="text" value="{{form.instance.amount}}" readonly>
                {% endif %}
                {% if field.errors %}<span class="error_span">{{ field.errors.as_text }}</span>{% endif %}
                </td>
              {% endfor %}
              </tr>

              {% for field in form.hidden_fields %}
                {{ field }}
              {% endfor %}
            {% endfor %} 
          </tbody>
        </table>
        <br>
      </div>
    </div>
    <div id="actions">
    {% if not user.is_customer %}

      {% if not user.is_driver %}
      {% if not form.instance.completed %}<a href="{% url 'change_arrival_date' form.instance.id %}" class="action mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" name="change_arrival_date">{% trans 'Change arrival date' %}</a>{% endif %}
      {% if not form.instance.paid %}<a href="{% url 'pay_order' form.instance.id %}" class="action mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect alert" name="pay_order">{% trans 'Pay' %}</a>{% endif %}
      {% endif %}

      {% if not form.instance.completed %}<a href="{% url 'complete_order' form.instance.id %}" class="action mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" name="complete_order">{% trans 'Complete' %}</a>{% endif %}
    {% endif %}
    </div>
    <br>
  </div>
{% endblock content %}
