{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header_title %}{% trans 'Complete order' %}{% endblock header_title %}
{% block title %}{% trans 'Complete order' %}{% endblock %}

{% block content %}
<div class="card404-wide-order-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{% trans 'Complete order' %}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <br>
    <table class="summary mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Ingredient' %}</th>
          <th>{% trans 'Need' %}</th>
          <th>{% trans 'Have' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient, need in summary.items %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ ingredient }}</td>
          <td>{{ need }}</td>
          <td>{{ ingredient.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if not can_complete_order %}<br><br><div class="order-error">{% trans 'Not enough supply to complete order!' %}</div>{% endif %}
    <br>

    <div class="mdl-card__actions">
      {% if can_complete_order %}
      <form id="login_form" method="post" action="" class="action-form">
        {% csrf_token %}
        <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'complete' %}"/>
      </form>
      {% endif %}
      <a href="{% url 'change_order' order_id %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" value="{% trans 'Submit' %}">{% trans 'back' %}</a>
    </div>
  </div>
</div>

{% endblock %}

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input type="text" id="username" name="username" class="mdl-textfield__input"/>
  <span class="mdl-textfield__label">{% trans 'Username' %}</span>
</label>