{% extends "base_popup.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Ingrediencie{% endblock %}

{% block header_title %}Ingrediencie{% endblock header_title %}

{% block table %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=name" class="{% if params.order_by == 'name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Name' %}</a></th>
      <th><a href="?popup=1&amp;order_by=purchase_price" class="{% if params.order_by == 'purchase_price' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Purchase price' %}</a></th>
      <th><a href="?popup=1&amp;order_by=amount" class="{% if params.order_by == 'amount' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Amount in KG' %}</a></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in queryset %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a class="fk_link" href="{{ obj.id }}" price="{{ obj.purchase_price }}">{{ obj }}</a></td>
      <td>{{ obj.purchase_price | floatformat:-2 }} Kč</td>
      <td>{{ obj.amount }} kg</td>
    </tr>
    {% empty %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">----</td>
      <td>----</td>
      <td>----</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
