{% extends "base_popup.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Orders' %}{% endblock %}

{% block header_title %}{% trans 'Orders' %}{% endblock header_title %}

{% block table %}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=name" class="{% if params.order_by == 'name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Name' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=customer__person__last_name" class="{% if params.order_by == 'customer__person__last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Customer' %}</a></th>
      <th><a href="?popup=1&amp;order_by=order_date" class="{% if params.order_by == 'order_date' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Date created' %}</a></th>
      <th><a href="?popup=1&amp;order_by=arrival_date" class="{% if params.order_by == 'arrival_date' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Arrival date' %}</a></th>
      <th><a href="?order_by=completed_date" class="{% if params.order_by == 'completed_date' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Date completed' %}</a></th>
      <th><a href="?popup=1&amp;order_by=price" class="{% if params.order_by == 'price' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Price' %}</a></th>
      <th><a href="?popup=1&amp;order_by=paid" class="{% if params.order_by == 'paid' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Paid' %}</a></th>
      <th><a href="?popup=1&amp;order_by=completed" class="{% if params.order_by == 'completed' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Completed' %}</a></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in queryset %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a href="{{ obj.id }}">{{ obj }}</a></td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.customer }}</td>
      <td>{{ obj.order_date}}</td>
      <td>{{ obj.arrival_date|default_if_none:_("None")}}</td>
      <td>{{ obj.completed_date|default_if_none:_("None")}}</td>
      <td>{{ obj.price | floatformat:-2 }} Kč</td>
      <td><i class="material-icons">{% if obj.paid %}check_box{% else %}check_box_outline_blank{% endif %}</i></td>
      <td><i class="material-icons">{% if obj.completed %}check_box{% else %}check_box_outline_blank{% endif %}</i></td>
    </tr>
    {% empty %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
