{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Orders' %}{% endblock %}

{% block header_title %}{% trans 'Orders' %}{% if queryset.has_previous or queryset.has_next %} - {{ queryset.number }} z {{ queryset.paginator.num_pages }}{% endif %}{% endblock header_title %}

{% block page_title %}{% trans 'Orders' %}{% endblock page_title %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
  <a href="{% url 'orders' %}" class="mdl-layout__tab is-active">{% trans 'Change' %}</a>
  {% if not user.is_driver %}
  <a href="{% url 'add_order' %}" class="mdl-layout__tab">{% trans 'Add' %}</a>
  {% endif %}
</div>
{% endblock tabview %}

{% block search_box %}
<form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="id_search">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      {{ form.visible_fields|first }}
      <label class="mdl-textfield__label" for="id_search">{% trans 'Enter your query' %}</label>
    </div>
  </div>
</form>
{% endblock %}

{% block content %}
  {% if search_value %}
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Searched value' %}</th>
          <th>{% trans 'Number of found entries' %}</th>
          <th>{% trans 'Delete' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ search_value }}</td>
          <td>{{ data_length }}</td>
          <td><a href="{% url 'orders' %}"><i class="material-icons">clear</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table {% if not user.is_driver %}mdl-data-table--selectable {% endif %}mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=name" class="{% if params.order_by == 'name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Name' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=customer__person__last_name" class="{% if params.order_by == 'customer__person__last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Customer' %}</a></th>
          <th><a href="?order_by=order_date" class="{% if params.order_by == 'order_date' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Date created' %}</a></th>
          <th><a href="?order_by=arrival_date" class="{% if params.order_by == 'arrival_date' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Arrival date' %}</a></th>
          <th><a href="?order_by=completed_date" class="{% if params.order_by == 'completed_date' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Date completed' %}</a></th>
          <th><a href="?order_by=price" class="{% if params.order_by == 'price' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Price' %}</a></th>
          <th><a href="?order_by=paid" class="{% if params.order_by == 'paid' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Paid' %}</a></th>
          <th><a href="?order_by=completed" class="{% if params.order_by == 'completed' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Completed' %}</a></th>
        </tr>
      </thead>
      <tbody>
        {% for obj in queryset %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><a href="{{ obj.id }}">{{ obj }}</a></td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.customer }}</td>
          <td>{{ obj.order_date}}</td>
          <td>{{ obj.arrival_date|default_if_none:_("None")}}</td>
          <td>{{ obj.completed_date|default_if_none:_("None")}}</td>
          <td>{{ obj.price | floatformat:-2 }} Kč</td>
          <td><i class="material-icons">{% if obj.paid %}check_box{% else %}check_box_outline_blank{% endif %}</i></td>
          <td><i class="material-icons">{% if obj.completed %}check_box{% else %}check_box_outline_blank{% endif %}</i></td>
        </tr>
        {% empty %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if queryset %}
      {% if not user.is_driver %}
      <form action="{% url 'delete_orders' %}" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <input type="hidden" id="hidden" name="obj_ids">

        <div id="actions">
          <input id="delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="{% trans 'Delete' %}"/>
        </div>
      </form>
      {% endif %}
    {% endif %}
  </div>

  <div id="dialog" title="Basic dialog" style="display: none;">
    <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
  </div>

  {% if queryset.has_previous or queryset.has_next %}
  <div id="paginator">
    {% if queryset.has_previous %}
      <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.previous_page_number }}" id="paginator_previous" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_back</i></a>
    {% endif %}

    {% if queryset.has_next %}
      <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.next_page_number }}" id="paginator_next" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_forward</i></a>
    {% endif %}
  </div>
  {% endif %}
{% endblock content %}

{% block optional_js %}<script type="text/javascript"  src="{% static 'js/hidden_obj_ids.js' %}"></script>{% endblock %}
