{% extends "base_popup.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Pastry' %}{% endblock %}

{% block header_title %}{% trans 'Pastry' %}{% endblock header_title %}

{% block table %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=name" class="{% if params.order_by == 'name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Name' %}</a></th>
      <th><a href="?popup=1&amp;order_by=price" class="{% if params.order_by == 'price' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Purchase price' %}</a></th>
      <th><a href="?popup=1&amp;order_by=units_per_batch" class="{% if params.order_by == 'units_per_batch' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Units per batch' %}</a></th>
      <th><a href="?popup=1&amp;order_by=-ingredients__count" class="{% if params.order_by == '-ingredients__count' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Ingredients count' %}</a></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in queryset %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a class="fk_link" href="{{ obj.id }}" price="{{ obj.price }}">{{ obj }}</a></td>
      <td>{{ obj.price | floatformat:-2 }} Kč</td>
      <td>{{ obj.units_per_batch }}</td>
      <td>{{ obj.ingredients__count }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
