{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Page Not found' %}{% endblock %}

{% block header_title %}{% trans 'Error' %}{% endblock header_title %}

{% block page_title %}{% trans 'Page Not found' %}{% endblock page_title %}

{% block content %}
<div class="card404-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{% trans 'Page does not exist - 404' %}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {% trans 'Page does not exist...' %}<br>
    {% trans 'Please, check your URL.' %}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      {% trans 'Go to main page'  %}
    </a>
  </div>
</div>
{% endblock content %}
