{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Stranka - naša pekáreň">
    <meta name="author" content="Olinka, Filip">
    <title>Pekáreň - {% block title %}Administrácia{% endblock %}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'images/mobile-desktop.png' %}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Pekáreň">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/mobile-desktop.png' %}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{% static 'images/mobile-desktop.png' %}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/material.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block body %}
    <div class="bakery-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="bakery-header mdl-layout__header mdl-color--default mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{% block header_title %}{% trans 'Home' %}{% endblock header_title %}</span>
          <div class="mdl-layout-spacer"></div>
          {% block search_box %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search" />
                <label class="mdl-textfield__label" for="search">{% trans 'Enter your query' %}</label>
              </div>
            </div>
          {% endblock %}

          {% block navigation %}
          {% endblock navigation %}
        </div>
        {% block tabview %}
        {% endblock tabview %}
      </header>

      <div class="bakery-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="bakery-drawer-header">
          <h3 class="bakery-account">{{ user.role }}</h3>
          <div class="bakery-account-dropdown">
            <span>{{ user }}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li><a class="mdl-menu__item" href="{% url 'change_password' %}?next={{request.path}}"><i class="material-icons">account_box</i> Change password</a></li>
              <li><a class="mdl-menu__item" href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i> Logout </a></li>
            </ul>
          </div>
        </header>
        <nav class="bakery-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>{% trans 'Home' %}</a>
          <a class="mdl-navigation__link" href="{% url 'orders' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>{% trans 'Orders' %}</a>
          <a class="mdl-navigation__link" href="{% url 'pastries' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">restaurant_menu</i>{% trans 'Pastry' %}</a>
          {% if user.is_admin or user.is_manager %}<a class="mdl-navigation__link" href="{% url 'ingredients' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_pizza</i>{% trans 'Ingredients' %}</a>{% endif %}
          {% if not user.is_customer %}<a class="mdl-navigation__link" href="{% url 'cars' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_shipping</i>{% trans 'Transport' %}</a>{% endif %}
          {% if user.is_admin %}<a class="mdl-navigation__link" href="{% url 'members' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">supervisor_account</i>{% trans 'Members' %}</a>{% endif %}
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>

      <!-- Content -->
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid bakery-content">
          {% block content %}
          <div class="card404-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Dokumentácia - pekáreň</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <h4>Autori</h4>
              <b>Filip Bajaník</b> (xbajan01@stud.fit.vutbr.cz)<br>
              <b>Olga Gavryliuk</b> (xgavry00@stud.fit.vutbr.cz)

              <h4>Uživateľia systému pre testovanie</h4>
              <b>admin</b>: heslo (Šéf)<br>
              <b>zakaznik</b>: heslo (Zákazník)<br>
              <b>vodic</b>: heslo (Vodič)<br>
              <b>manager</b>: heslo (Manažer)<br>

              <h4>Implementácia</h4>
              Projekt používa MVC framework <b>Django</b>, ktorý používa skriptovací jazyk <b>Python</b>.<br>
              Použitý bol aj javascriptový framework <b>MDL</b>, spolu s veľmi populárnym frameworkom <b>jQUery</b>.<br><br>

            </div>
          </div>
          {% endblock content %}
        </div>
      </main>
    </div>
    <!-- End content -->
    {% endblock %}
    <div id="messages">{% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif%}</div>
    <script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block optional_js %}{% endblock %}
  </body>
</html>