{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Cars' %}{% endblock %}

{% block body %}
<div class="bakery-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

  <header class="bakery-header mdl-layout__header mdl-color--default mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Vyhľadávanie - {% block header_title %}{% endblock header_title %}{% if queryset.has_previous or queryset.has_next %} - {{ queryset.number }} z {{ queryset.paginator.num_pages }}{% endif %}</span>
      <div class="mdl-layout-spacer"></div>
      <form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="id_search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            {{ form.visible_fields|first }}
            <label class="mdl-textfield__label" for="id_search">{% trans 'Enter your query' %}</label>
          </div>
        </div>
      </form>
    </div>
  </header>

  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid bakery-content">

      {% if search_value %}
      <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">{% trans 'Searched value' %}</th>
              <th>{% trans 'Number of found entries' %}</th>
              <th>{% trans 'Delete' %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{ search_value }}</td>
              <td>{{ data_length }}</td>
              <td><a href="?popup=1"><i class="material-icons">clear</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}

      <div class="mdl-cell mdl-cell--12-col">
        {% block table %}
        {% endblock %}
      </div>
    </div>
  </main>
</div>

{% if queryset.has_previous or queryset.has_next %}
<div id="paginator">
  {% if queryset.has_previous %}
    <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.previous_page_number }}" id="paginator_previous" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_back</i></a>
  {% endif %}

  {% if queryset.has_next %}
    <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.next_page_number }}" id="paginator_next" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_forward</i></a>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block optional_js %}<script type="text/javascript"  src="{% static 'js/fk_lookup.js' %}"></script>{% endblock %}
