{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Delivery address' %}{% endblock %}

{% block header_title %}{% trans 'Delivery address' %}{% endblock header_title %}

{% block page_title %}{% trans 'Delivery address' %}{% endblock page_title %}

{% block navigation %}
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="{% url 'cars' %}">{% trans 'Cars' %}</a>
  <a class="mdl-navigation__link" href="{% url 'distribution_areas' %}">{% trans 'Distribution areas' %}</a>
  <a class="mdl-navigation__link" href="{% url 'delivery_addresses' %}"><u>{% trans 'Delivery address' %}</u></a>
</nav>
{% endblock navigation %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
    <a href="{% url 'delivery_addresses' %}" class="mdl-layout__tab">{% trans 'Change' %}</a>
    <a href="{% url 'add_delivery_address' %}" class="mdl-layout__tab is-active">{% trans 'Add' %}</a>
</div>
{% endblock tabview %}

{% block content %}
  <div class="card404-wide-address-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{% trans 'Add new delivery address' %}</h2>
    </div>
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      <div class="mdl-card__supporting-text">
        {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% for field in form.visible_fields %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ field }}
          <label class="mdl-textfield__label">{{ field.label }}</label>
          {% if field.id_for_label == form.customer.id_for_label %}
          <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.customer}}" readonly>
          <a href="{% url 'members'%}?popup=customers" name="Customer" class="fk_lookup"><i class="material-icons">search</i></a>
          {% endif %}
          {% if field.id_for_label == form.distribution_area.id_for_label %}
          <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.distribution_area}}" readonly>
          <a href="{% url 'distribution_areas'%}?popup=1" name="DistributionArea" class="fk_lookup"><i class="material-icons">search</i></a>
          {% endif %}
        </div>
        <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
        <br>
        {% endfor %}

        {% for field in form.hidden_fields %}
            {% field }}
        {% endfor %}

        <div class="mdl-card__actions  mdl-card--border">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
