{% extends "base_popup.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Cars' %}{% endblock %}

{% block header_title %}Autíčka{% endblock header_title %}

{% block table %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=spz" class="{% if params.order_by == 'spz' %}order_link_active{% else %}order_link{% endif %}">SPZ</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=driver__person__last_name" class="{% if params.order_by == 'driver__person__last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Driver' %}</a></th>
      <th><a href="?popup=1&amp;order_by=working" class="{% if params.order_by == 'working' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Working' %}</a></th>
      <th><a href="?popup=1&amp;order_by=load" class="{% if params.order_by == 'load' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Load' %}</a></th>
      <th><a href="?popup=1&amp;order_by=inspection_date" class="{% if params.order_by == 'inspection_date' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Inspection date' %}</a></th>
    </tr>
  </thead>
  <tbody>
    {% for car in queryset %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a class="fk_link" href="{{ car.spz }}">{{ car }}</a></td>
      <td>{{ car.driver|default_if_none:_("None") }}</td>
      <td><i class="material-icons">{% if car.working %}check_box{% else %}check_box_outline_blank{% endif %}</i></td>
      <td>{{ car.load }} Kg</td>
      <td>{{ car.inspection_date }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
