{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Cars' %}{% endblock %}

{% block header_title %}{% trans 'Manage cars' %}{% endblock header_title %}

{% block page_title %}{% trans 'Cars' %}{% endblock page_title %}

{% block navigation %}
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="{% url 'cars' %}"><u>{% trans 'Cars' %}</u></a>
  <a class="mdl-navigation__link" href="{% url 'distribution_areas' %}">{% trans 'Distribution areas' %}</a>
  <a class="mdl-navigation__link" href="{% url 'delivery_addresses' %}">{% trans 'Delivery address' %}</a>
</nav>
{% endblock navigation %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
  <a href="{% url 'cars' %}" class="mdl-layout__tab is-active">{% trans 'Change' %}</a>
  {% if not user.is_driver %}
  <a href="{% url 'add_car' %}" class="mdl-layout__tab">{% trans 'Add' %}</a>
  {% endif %}
</div>
{% endblock tabview %}

{% block content %}
  <div class="card404-wide-car-form mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Úprava detailov auta</h2>
    </div>
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      <div class="mdl-card__supporting-text">
        {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% for field in form.visible_fields %}
          {% if field.id_for_label == form.working.id_for_label %}
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="id_working">
            <input type="checkbox" id="id_working" name="working" class="mdl-checkbox__input" {%if field.value %}checked{%endif%} />
            <span class="mdl-checkbox__label">{{ field.label }}</span>
          </label>
          <br>
          {% elif field.id_for_label == form.driver.id_for_label %}
            {% if not user.is_driver %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              {{ field }}
              <label class="mdl-textfield__label">{{ field.label }}</label>
              <input class="mdl-textfield__input fk_content" type="text" value="{{form.instance.driver|default_if_none:_("None")}}" readonly>
              <a href="{% url 'members'%}?popup=drivers" name="Driver" class="fk_lookup"><i class="material-icons">search</i></a>
            </div>
            <br>
            {% endif %}
          {% else %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ field }}
            <label class="mdl-textfield__label">{{ field.label }}</label>
          </div>
          <span>{% if field.errors %}{{ field.errors.as_text }}{% endif %}</span>
          <br>
          {% endif %}
        {% endfor %}

        {% for field in form.hidden_fields %}
            {% field }}
        {% endfor %}

        <div class="mdl-card__actions  mdl-card--border">
          <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="{% trans 'Submit' %}"/>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
