{% extends "base_popup.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Delivery address' %}{% endblock %}

{% block header_title %}{% trans 'Delivery address' %}{% endblock header_title %}

{% block table %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th><a href="?popup=1&amp;order_by=id" class="{% if params.order_by == 'id' %}order_link_active{% else %}order_link{% endif %}">ID</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=customer__person__last_name" class="{% if params.order_by == 'customer__person__last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Customer' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=distribution_area__name" class="{% if params.order_by == 'distribution_area__name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Distribution areas' %}</a></th>
      <th><a href="?popup=1&amp;order_by=office_number" class="{% if params.order_by == 'office_number' %}order_link_active{% else %}order_link{% endif %}">Číslo pobočky</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=city" class="{% if params.order_by == 'city' %}order_link_active{% else %}order_link{% endif %}">Mesto</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=street" class="{% if params.order_by == 'street' %}order_link_active{% else %}order_link{% endif %}">Ulica</a></th>
      <th><a href="?popup=1&amp;order_by=house_number" class="{% if params.order_by == 'house_number' %}order_link_active{% else %}order_link{% endif %}">Číslo domu</a></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in queryset %}
    <tr>
      <td><a class="fk_link" href="{{ obj.id }}">{{ obj.id }}</a></td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.customer }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.distribution_area }}</td>
      <td>{{ obj.office_number }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.city }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ obj.street }}</td>
      <td>{{ obj.house_number }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
