{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Delivery address' %}{% endblock %}

{% block header_title %}{% trans 'Delivery address' %}{% if queryset.has_previous or queryset.has_next %} - {{ queryset.number }} z {{ queryset.paginator.num_pages }}{% endif %}{% endblock header_title %}

{% block page_title %}{% trans 'Delivery address' %}{% endblock page_title %}

{% block navigation %}
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="{% url 'cars' %}">{% trans 'Cars' %}</a>
  <a class="mdl-navigation__link" href="{% url 'distribution_areas' %}">{% trans 'Distribution areas' %}</a>
  <a class="mdl-navigation__link" href="{% url 'delivery_addresses' %}"><u>{% trans 'Delivery address' %}</u></a>
</nav>
{% endblock navigation %}

{% block tabview %}
<div class="mdl-layout__header-row nav_tab">
  <a href="{% url 'delivery_addresses' %}" class="mdl-layout__tab is-active">{% trans 'Change' %}</a>
  {% if not user.is_driver %}
  <a href="{% url 'add_delivery_address' %}" class="mdl-layout__tab">{% trans 'Add' %}</a>
  {% endif %}
</div>
{% endblock tabview %}

{% block search_box %}
<form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="id_search">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      {{ form.visible_fields|first }}
      <label class="mdl-textfield__label" for="id_search">{% trans 'Enter your query' %}</label>
    </div>
  </div>
</form>
{% endblock %}

{% block content %}
  {% if search_value %}
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">{% trans 'Searched value' %}</th>
          <th>{% trans 'Number of found entries' %}</th>
          <th>{% trans 'Delete' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ search_value }}</td>
          <td>{{ data_length }}</td>
          <td><a href="{% url 'delivery_addresses' %}"><i class="material-icons">clear</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table {% if not user.is_driver %}mdl-data-table--selectable {% endif %}mdl-shadow--2dp">
      <thead>
        <tr>
          <th><a href="?order_by=id" class="{% if params.order_by == 'id' %}order_link_active{% else %}order_link{% endif %}">ID</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=customer__person__last_name" class="{% if params.order_by == 'customer__person__last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Customer' %}</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=distribution_area__name" class="{% if params.order_by == 'distribution_area__name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Distribution areas' %}</a></th>
          <th><a href="?order_by=office_number" class="{% if params.order_by == 'office_number' %}order_link_active{% else %}order_link{% endif %}">Číslo pobočky</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=city" class="{% if params.order_by == 'city' %}order_link_active{% else %}order_link{% endif %}">Mesto</a></th>
          <th class="mdl-data-table__cell--non-numeric"><a href="?order_by=street" class="{% if params.order_by == 'street' %}order_link_active{% else %}order_link{% endif %}">Ulica</a></th>
          <th><a href="?order_by=house_number" class="{% if params.order_by == 'house_number' %}order_link_active{% else %}order_link{% endif %}">Číslo domu</a></th>
        </tr>
      </thead>
      <tbody>
        {% for obj in queryset %}
        <tr>
          <td><a href="{{ obj.id }}">{{ obj.id }}</a></td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.customer }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.distribution_area }}</td>
          <td>{{ obj.office_number }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.city }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ obj.street }}</td>
          <td>{{ obj.house_number }}</td>
        </tr>
        {% empty %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
          <td>----</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if queryset %}
    {% if not user.is_driver %}
    <form action="{% url 'delete_delivery_addresses' %}" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
      {% csrf_token %}
      <input type="hidden" id="hidden" name="obj_ids">

      <div id="actions">
        <input id="delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="{% trans 'Delete' %}"/>
      </div>
    </form>
    {% endif %}
    {% endif %}
  </div>

  {% if queryset.has_previous or queryset.has_next %}
  <div id="paginator">
    {% if queryset.has_previous %}
      <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.previous_page_number }}" id="paginator_previous" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_back</i></a>
    {% endif %}

    {% if queryset.has_next %}
      <a href="?{% if params %}{{params.urlencode}}&amp;{% endif %}page={{ queryset.next_page_number }}" id="paginator_next" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">arrow_forward</i></a>
    {% endif %}
  </div>
  {% endif %}
{% endblock content %}

{% block optional_js %}<script type="text/javascript"  src="{% static 'js/hidden_obj_ids.js' %}"></script>{% endblock %}
