{% extends "base_popup.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Distribution areas' %}{% endblock %}

{% block header_title %}{% trans 'Distribution areas' %}{% endblock header_title %}

{% block table %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=name" class="{% if params.order_by == 'name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Name of area' %}</a></th>
      <th class="mdl-data-table__cell--non-numeric"><a href="?popup=1&amp;order_by=driver__person__last_name" class="{% if params.order_by == 'driver__person__last_name' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Driver' %}</a></th>
      <th><a href="?popup=1&amp;order_by=distribution_time" class="{% if params.order_by == 'distribution_time' %}order_link_active{% else %}order_link{% endif %}">{% trans 'Distribution time' %}</a></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in queryset %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a class="fk_link" href="{{ obj.id }}">{{ obj }}</a></td>
      <td>{{ obj.driver|default_if_none:_("None") }}</td>
      <td>{{ obj.distribution_time }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">----</td>
      <td>----</td>
      <td>----</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
