<html>
<head>
</head>
<body>

  <!-- SEARCH TABLE -->
  <table border="1" style="width:100%">
  <thead>
  <tr>
  <th>ID</th>
  <th>Product</th>
  <th>User</th>
  <th>Mark</th>
  </tr>
  </thead>
  <tbody>

  {foreach from=$feedbacks item=feedback}
  <tr>
  <td>{$feedback.ID}</td>     
  <td>{$feedback.PRODUCT}</td>          
  <td>{$feedback.USER}</td>      
  <td>{$feedback.MARK}</td>
  </tr>
  {/foreach}
  </tbody>
  </table>
  
</body>
</html>