<html>
<head>
</head>
<body>

  <!-- SEARCH TABLE -->
  <table style="width:100%" border="1">
  <thead>
  <tr>
  <th>ID</th>
  <th>ACM</th>
  <th>COMPANY</th>
  <th>DELIVERY</th>
  <th>WEBSITE</th>
  </tr>
  </thead>
  <tbody>
    {foreach from=$merchants item=merchant}
    <tr>
    <td>{$merchant.ID}</td>
    <td>{$merchant.NAME} {$merchant.SURNAME} ({$merchant.LOGIN})</td>
    <td>{$merchant.COMPANY}</td>
    <td>{$merchant.DELIVERY}</td>
    <td>{$merchant.WEBSITE}</td>
    </tr>
    {/foreach}
    </tbody>
    </table>


</body>
</html>