<html>
<head>
</head>
<body>
  <table border="1" style="width:100%">
  <thead>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Brand</th>
  <th>Count</th>
  <th>Price</th>
  <th>VAT</th>
  <th>CATEGORY</th>
  <th>COMPANY</th>
  </tr>
  </thead>
  <tbody>
    {foreach from=$products item=product}
    <tr>
    <td>{$product.ID}</td>
    <td>{$product.NAME}</td>
    <td>{$product.BRAND}</td>
    <td>{$product.COUNT}</td>
    <td>{$product.PRICE}</td>
    <td>{$product.VAT}</td>
    <td>{$product.CATEGORY}</td>
    <td>{$product.COMPANY}</td>
    </tr>
    {/foreach}
    </tbody>
    </table>
   
</div>
  
</body>
</html>