<html>
<head>
</head>
<body>
  
  <table border="1" style="width:80%">
  <thead>
  <tr>
  <th>ID</th>
  <th>LOGIN</th>
  <th>NAME</th>
  <th>SURNAME</th>
  <th>PERMISSIONS</th>
  </tr>
  </thead>
  <tbody>
    {foreach from=$users item=user}
    <tr>
    <td>{$user.ID}</td>
    <td>{$user.LOGIN}</td>
    <td>{$user.PERS_NAME}</td>
    <td>{$user.SURNAME}</td>
    <td>{$user.PERM_NAME}</td>
    </tr>
    {/foreach}
    </tbody>
    </table>
    
</body>
</html>