<html>
<head>
</head>
<body>

<h2>User details: {$user_info.LOGIN} ({$user_id})</h2> 

  <font color="red"><b>Informations</b></font><br>
  <b>Name: </b>{$user_info.PERS_NAME}<br>
  <b>Surname: </b> {$user_info.SURNAME}<br>
  <b>Mail: </b> {$user_info.MAIL}<br>
  <b>Telephone: </b> {$user_info.TELEPHONE}<br>
  <b>Address: </b> {$user_info.ADDRESS}<br>
  <b>Permissions: </b> {$user_info.PERM_NAME}<br><br>

</body>
</html>